<!DOCTYPE html>
<html>
<head>
  <title>Monolist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <meta name="Author" content="牧野浩司">
  <meta name="copyright" content="© 2015 All right reserverdｓ XFLOW">
  <meta name="Keywords" content="物,欲しい,持っている,want,have,amazon,共有,sns">
  <meta name="lang" content="ja">
  <meta name="description" content="monolist">
  <meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
</head>
<body>

<%= render partial: "layouts/header" %>
<%= yield %>
<%= render partial: "layouts/footer" %>

</body>
</html>
